.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 1rem; 
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #eaeaea;
  color: black;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #eaeaea;
  position: relative;
}

.img_main {
  max-height:60rem;
  filter: brightness(70%);
  width:100%;
  object-fit: cover;
}

.titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 95%;
  text-align: center;
  z-index: 1;
}

.title{
  font-size: 4rem;
}

.sub_title{
  font-size: 2rem;
  text-align: center;
}

.img_general {
  width:100%;
  object-fit: cover;
  max-height:60rem;
}

.button_booknow {
  background-color:red;
  color: white;
  font-size: large;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }


.button_booknow:hover {
  color:red;
  background-color: white;
}

.description {
  font-size: 1rem;
  color: rgb(73, 73, 73);
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1rem;
}

.card {
  margin: 0.5rem;
  text-align: center;
  transition: color 0.15s ease, border-color 0.15s ease;
  position: relative;
}

.img_card {
  filter: brightness(75%)
}

.card img:hover {
  filter: brightness(100%);
  color: black;
}

.otas {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otas_card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.otas_card:hover {
  color:white;
  background-color: red;
  transition: color 0.15s ease;
}

.img_feed {
  width:400px;
  height:auto;
  padding: 0.1em;
}

.button_drive {
  background-color:orange;
  color: white;
  font-size: large;
  margin: 1rem;
  padding: 1.5rem;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  .button_blablacar {
    background-color:orange;
    color: white;
    font-size:small;
    margin: 1rem;
    padding: 0.5rem;
    transition: color 0.15s ease, border-color 0.15s ease;
    border-radius: 20px;
    transition: color 0.15s ease, border-color 0.15s ease;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

.button_drive:hover {
  color:orange;
  background-color: white;
  transition: color 0.15s ease;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem;
  border-top: 1px solid #eaeaea;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 1rem;
  width:70%;
  height:auto;
}

.back_to_top {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 150px;
}

.back_to_top:hover{
  filter: brightness(75%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  width:5%;
  height:auto;
}

.logo:hover, .grid .icons:hover {
  color:orange;
  cursor: pointer;
}

.main_room {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: left;
  margin: 1rem;
  max-width: 50%;
  position: 'relative';
}

.grid_room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid_img_room {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-wrap: wrap;
}

.room_img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_galery {
  margin: 0.1rem;
  width: 33%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card p {
  margin: 0;
  font-size: 1rem;
}

.main_ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 1rem;
  max-width: 35%;
}

.getting_there_item {
  display: flex;
  flex-direction: column;
  width:46%;
  text-align: center;
  justify-content: center;
  margin: 2rem;
  border: 1px solid #eaeaea;
}

.ul_no_bullets{
  list-style-type: none;
}

.button_booknow, .button_drive, .back_to_top { 
  cursor: pointer;
}


@media (max-width: 1200px) { 
  .header{
   display:none;
  }
  .header{
   display:initial;
  }
  img.img_general {
    width: 100%;
    height: auto;
  }
  img.main_ratings {
    width: 100%;
    height: auto;
  }

  .title{
    font-size: 2rem;
  }
  .sub_title{
    font-size: 2rem;
  }

  .header {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    background: transparent;
    cursor: pointer;
  }
}


