.container {
  padding: 2rem 2rem;
}

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #eaeaea;
  position: relative;
  margin: 1rem;
}

.titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 95%;
  text-align: center;
  z-index: 1;
}

.title{
  font-size: 5rem;
}

.sub_title{
  font-size: 3rem;
}

.img_main {
  width:120%;
  max-height:700px;
  filter: brightness(75%)
}

.button_booknow {
  background-color:white;
  color: black;
  font-size: large;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.button_booknow:hover,
.button_booknow:focus,
.button_booknow:active {
  color:white;
  background-color: red;
  transition: color 0.15s ease;
  border-color: red;
}

.description {
  font-size: 1.5rem;
  color: rgb(73, 73, 73);
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1rem;
}

.card {
  margin: 1rem;
  text-align: center;
  transition: color 0.15s ease, border-color 0.15s ease;
  position: relative;
}

.img_card {
  filter: brightness(75%)
}

.card:hover,
.card:focus,
.card:active {
  filter: brightness(125%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.otas {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otas_card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.otas_card:hover,
.otas_card:focus,
.otas_card:active {
  color:white;
  background-color: red;
  transition: color 0.15s ease;
}

.img_feed {
  width:400px;
  height:auto;
  padding: 0.1em;
}

.button_drive {
  background-color:orange;
  color: white;
  font-size: large;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.button_drive:hover,
.button_drive:focus,
.button_drive:active {
  color:orange;
  background-color: white;
  transition: color 0.15s ease;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem;
  border-top: 1px solid #eaeaea;
  align-items: center;
}

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.icons {
  display: flex;
  justify-content: center;
  margin: 1rem;
  width:50%;
  height:auto;
}

.back_to_top {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 150px;
}

.logo {
  width:5%;
  height:auto;
}

.main_room {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: left;
  margin: 1rem;
  max-width: 50%;
  position: 'relative';
}

.grid_room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid_img_room {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.room_img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_galery {
  margin: 0.1rem;
  width: 33%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.main_ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 1rem;
  max-width: 35%;
}

.rooms {
  display: flex;
  width:50%;
  height:auto;
  flex-grow: 1;
}

.logo, .button_booknow, .button_drive, .back_to_top { 
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .logo img {
    filter: invert(1);
  }
}
